.fullComment {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.imgWrapper {
  width: 60px;
  height: 60px;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

.imgWrapper img {
  width: 70%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.detail div {
  font-weight: bold;
}

.detail span {
  margin-left: 1.5rem;
  color: #c4c4c4;
}

.fullCmBtn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;
}

.content p {
  line-height: 1.8;
}

.email {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btnsWrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.deleteBtn{
    background-color: transparent;
    color: #be123c;
    border: none;
    outline: none;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
}

@media screen and (min-width: 700px) {
  .comment {
    width: 700px;
  }
}
